body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10rem 1fr;
}

.left {
  box-shadow: 0 0 1rem gray;
}

canvas[resize] {
  width: 100%;
  height: 100%;
}
